body
  font-family Inconsolata Arial sans-serif

  *
    -webkit-box-sizing border-box
    box-sizing border-box

  .header
    margin: 0 auto
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color #fff
    h1
      margin-bottom 20px
      font-size 4vmax
      line-height 1.3
      font-weight 300
    h2
      font-size 2vmin
      line-height 1.5
      margin-bottom 30px
    .social-menu
      padding 28px 0
      ul
        width calc(100% - 40px)
        padding 0
        margin 0 auto
        li
          padding 0
          margin 0 20px
          list-style none
          display inline-block
          a
            color #fff
    .top-menu
      padding 28px 0
      ul
        width calc(100% - 40px)
        padding 0
        margin 0 auto
        li
          padding 0
          margin 0 20px
          list-style none
          a
            color #fff

@media screen and (min-width: 400px)
  .social-menu
    ul
      width calc(33% - 10px)
      li
        margin 0
